@font-face {
  font-family: lars;
  src: url(../assets/lunch.woff);
}

@font-face {
  font-family: body;
  src: url(../assets/atlas-light.woff);
}

body {
	font-family: lars, sans-serif;
	padding-top: 75px;
	font-weight: 100;
}

.container {
	max-width: 1700px;
}

h1 {
	font-size: 6em;
	text-align: justify;
	line-height: 2em;
}


a h2 {
	font-size: 3em;
	font-family: body, sans-serif;
	text-align: justify;
	line-height: 2em;
	color: black;
}


/*--------------*/

.projects {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.project {
	margin-top: 75px;
}


.projects i {
	color: rgb(0,0,0);
	opacity: 0;
	padding-left: 0px;
	transition: 0.2s all ease-in-out;
}

.projects a:hover .project i {
	opacity: 0.3;
	padding-left: 10px;
}

.facebook {
	background: url('../assets/images/facebook.jpg') center center;
}

.thisalso {
	background: url('../assets/images/reshape.jpg') center center;
}






