@font-face {
  font-family: lars;
  src: url(../assets/atlas-light.woff);
}

@font-face {
  font-family: body;
  src: url(../assets/atlas-light.woff);
}

body {
	font-family: lars, sans-serif;
	padding-top: 75px;
	font-weight: 100;
}

.container {
	max-width: 1200px;
}

h1 {
	font-size: 13em;
}

h2 {
	font-size: 2.3em;
	text-align: center;
	line-height: 2em;
	letter-spacing: 1px;
}

a h2 {
	font-size: 3em;
	text-align: justify;
	line-height: 2em;
	color: black;
}

h3 {
	font-size: 2em;
	letter-spacing: 1px;
	color: #333;
	font-family: body, sans-serif;
}

p {
	font-size: 1.4em;
	line-height: 2.2em;
	color: #555;
	font-family: body, sans-serif;
}

a {
	color: #333; 
}


/*--------------*/

.project-header {
	padding-top: 50px;
	max-width: 1000px;
}

.project-footer {
	padding-bottom: 200px;
}

.project-header-iamge {
	position: relative;
	text-align: center;
}

.project-header img {
	width: 100px; 
	position: relative;
	left: 50%; 
	transform: translateX(-50%);
}

.project-header-description {
	padding-top: 100px;
}

.project-header-description h2 {
	margin: 0 auto;
}

/*--------------*/
.project-full-image {
	width: 100%; 
	margin: 150px 0;
}

.project-half-image {
	left: 50%; 
	position: relative;
	transform: translateX(-50%);
}

.project-half-image-mid {
	width: 50%;
	left: 50%; 
	position: relative;
	transform: translateX(-50%);
	margin-bottom: 50px;
}
/*--------------*/

.project-body {
}

.project-body-description {
}

.project-body-description p b {
	color: #333;
	font-weight: normal;
	font-size: 1.4em;
}

.project-body-description p i {
	color: #888;
}













