body {
  font-family: 'arial', sans-serif;
  line-height: 0;
  color: #3f3f3f;
}

a, a:visited, a:hover {
  color: black;
}

p {
  line-height: 2em;
}

.container {
  padding-top: 00px;
  max-width: 100%;
  width: 100%;
  padding: 15px;
}

h1 {
  font-size: 20px;
  font-weight: light;
  letter-spacing: .2px;
}

.project h1 {
  padding-top: 50px;
}

.projects {
  padding: 50px 0;
}

.projects .header {

}

.project {
  transition: 0.2s ease-in-out all;
  margin-top: 25px;
}

.project img {
  width: 100%;
  padding-top: 15px;
}

.project video {
  padding-top: 15px;
  width: 100%;
}

.universe {
  
}
.project:hover {
  /* transform: translateY(-10px); */
  /* opacity: 0.80; */
}

.project a {
  color: black;
  padding-top: 15px;
  text-decoration: none;
  font-family: space-regular;
}

.project p {
  margin-top: 20px;
}

.project-full {
  width: 100%;
}

.shopping {
  width: 50%;
}
li {
  padding-bottom: 20px;
}



/* --------- */
button {
  background: none;
  border: none;
  font-family: space-regular;
  font-size: 2em;
  text-decoration: underline;
  text-transform: none;
  color: black;
}
