@import "normalize";
@import "home";
@import "product";
@import "minimal";
@import "ctree";
@import "posters";
@import "new"; 

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

body {
  
}


@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 300;
}

@font-face {
  font-family: CircularMedium;
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: CenturySchoolbook;
  src: url(../fonts/CenturySchoolbookRegular.ttf);
}

@font-face {
  font-family: AtlasLight;
  src: url(../fonts/AtlasGrotesk-Light-Web.woff);
}
@font-face {
  font-family: AtlasMedium;
  src: url(../fonts/AtlasGrotesk-Medium-Web.woff);
}