@import "normalize";

@import "product";
@import "minimal";
@import "ctree";
@import "posters";
@import "new"; 
@import "home";
@import "peer";
@import "reshape";
@import "plsdistractme";

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.image_full {
  img {
    width: 100%;
  }
}

body {
  
}

.nav {
  width: 200px;
  position: relative; 
  top: 30px; 
  left: 30px;
  z-index: 99;
  font-family: "LunchType", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;

  a {
    color: #333;
    text-decoration: none;
    &:hover {
      color: #333; 
    }
  }
}



@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 300;
}

@font-face {
  font-family: lunch;
  src: url(../fonts/type.ttf);
  font-weight: 300;
}

@font-face {
  font-family: CircularMedium;
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: CenturySchoolbook;
  src: url(../fonts/CenturySchoolbookRegular.ttf);
}

@font-face {
  font-family: AtlasLight;
  src: url(../fonts/AtlasGrotesk-Light-Web.woff);
}
@font-face {
  font-family: AtlasMedium;
  src: url(../fonts/AtlasGrotesk-Medium-Web.woff);
}

@font-face {
  font-family: SFRegular;
  src: url(../fonts/SF-UI-Text-Regular.otf);
}

@font-face {
  font-family: LunchType;
  src: url(../fonts/Lunchtype_22-Regular.woff);
}

@font-face {
  font-family: Maison;
  src: url(../fonts/MaisonNeueWEB-Light.woff);
}

@font-face {
  font-family: MaisonBold;
  src: url(../fonts/MaisonNeueWEB-Bold.woff);
}

@font-face {
  font-family: Lars;
  src: url(../fonts/Lars.woff);
}

@font-face {
  font-family: AG;
  src: url(../fonts/AG.woff);
}