.index {
  background: blue;
  transition: 0.5s all ease-in-out;
  text-rendering: geometricPrecision;
  background: #111;
}

.darkness {
  background: #111;
}

.projects {
  width: 80%; 
  margin: 0 auto; 
  margin-top: 30vh;

  h1 {
    color: white;
    font-family: "Lunchtype", sans-serif; 
    letter-spacing: 1px;
    width: auto;
    font-size: 40px;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 5px;

    a {
      text-decoration: none;
      color: white;
      transition: 0.3s all ease-in-out;

      &:hover {
        border-bottom: 5px solid white;
      }
    }

    .number {
      font-size: 15px;
      padding-top: 10px;
      padding-right: 10px;
      color: rgba(255,255,255,0.8);
      vertical-align: top;
      position: relative;
      top: 5px;
    }
  }

  .black-bg {
    color: white; 
    position: fixed; 
    top: 20px;
    right: 20px;
  }
}