$break-small: 480px;

.index {
  background: blue;
  transition: 0.5s all ease-in-out;
  text-rendering: geometricPrecision;
  background: #111;
}

.darkness {
  background: #111;
}

.projects {
  width: 80%; 
  margin: 0 auto; 
  margin-top: 30vh;

  @media screen and (max-width: $break-small) {
    margin-top: 10vh;
  }

  h1 {
    color: white;
    font-family: "Lunchtype", sans-serif; 
    letter-spacing: 1px;
    width: auto;
    font-size: 40px;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 5px;

    @media screen and (max-width: $break-small) {
      font-size: 20px;
      display: block;
    }

    a {
      text-decoration: none;
      color: white;
      transition: 0.3s all ease-in-out;
      border-bottom: 5px solid rgba(255, 255, 255, 0);

      &:hover {
        border-bottom: 5px solid rgba(255, 255, 255, 1);
      }
    }

    .number {
      font-size: 15px;
      padding-top: 10px;
      padding-right: 10px;
      color: rgba(255,255,255,0.8);
      vertical-align: top;
      position: relative;
      top: 5px;

      @media screen and (max-width: $break-small) {
        font-size: 10px;
      }
    }
  }

  .black-bg {
    color: white; 
    position: fixed; 
    top: 20px;
    right: 20px;
  }
}