body {
  font-family: 'Karla', sans-serif;
}

.index {
  .name {
  width: 80%; 
  margin: 0 auto;
  color: #333; 
  margin-top: 80px;

  &:hover {
      cursor: pointer;
    }
  a {
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
    letter-spacing: 0px;
    color: #262626 !important;
    text-decoration: none;
  }
}

.description {
  position: fixed;
  top: 18px;
  left: 50px;
}

.work {
  width: 80%; 
  margin: 0 auto; 
  margin-top: 100px;
  padding-bottom: 200px;

  .project {
    margin-top: 50px;
  }
  // .left-small {
  //   padding-left: 20%;
  // }
  // .left-big {
  //   padding-left: 50%;
  // }
  // .left-bigger {
  //   padding-left: 60%;
  // }
  
  .project-type {
    font-family: 'Karla', sans-serif;
    padding-left: 5px;
    padding-bottom: 10px;
    color: #4859F5;
  }

  .project-name {
    font-family: 'AtlasLight', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: #333;
    padding-bottom: 10px;

    &:hover {
      border-bottom: 1px solid #4859F5; 
      cursor: pointer;
    }
  }
}


.prj-image {
  position: fixed; 
  width: 400px;
  left: 0;
  display: none;
}  
}
