$primary: #1AD6FD;
$secondary: #1D62F0;
$text-primary: #505361;
$text-secondary: #A9ACB2;

$break-small: 480px;

@mixin animation($time) {
  -webkit-transition: $time all cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: $time all cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: $time all cubic-bezier(0.75, 0.25, 0.25, 0.75); 
}

@mixin box-shadow($px, $color) {
  -webkit-box-shadow: $px $color;
  -moz-box-shadow: $px $color;
  box-shadow: $px $color;
}

.product {
  background: linear-gradient(#fff, #E8ECF3);
  text-rendering: GeometricPrecision;
  font-family: 'Circular', sans-serif;

  .container {
    margin: 0 auto;
  }
  


  // .product -> Navigaiton
  .nav {
    width: 100%; 
    max-width: 80%; 
    padding: 25px;
    
    @media screen and (max-width: $break-small) {
      max-width: 100%;
      .columns {
        width: 50%;
      }
    }


    h1 {
      color: $text-primary;
      font-size: 1.3em;
      font-weight: 400;
    }


    .button-primary {
      background: white;
      background-size: 100%;
      background-image: linear-gradient(90deg, $primary, $secondary); 
      border: none;
      display: inline-block;
      position: relative; 
      z-index: 100;
      padding: 0 35px;

      font-weight: 400;
      color: white;
      
      @include box-shadow(0px 7px 24px -11px, #909194);
      @include animation(0.20s);
      
      &:before {
        border-radius: inherit;
        background-image: linear-gradient(90deg, $primary, $secondary);
        content: '';
        display: block;
        height: 100%; 
        width: 100%; 
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        z-index: -100;
        @include animation(0.20s);
      }

      &:hover {
        color: white;
        @include box-shadow(0px 7px 24px -6px, #909194);
        &:before {
          opacity: 1;
        }
      }
    }
  }
  
  .layer {
    background: #333;
    opacity: 0.8;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 998;
    display: inline-block;
    pointer-events: auto;

    @include animation(0.20s);
  }

  .cs-modal {
    width: 500px;
    min-height: 200px;
    z-index: 999;
    position: fixed; 
    top: 20%;
    left: 50%; 
    margin: 0 0 0 -250px;
    background: white;
    border-radius: 3px;
    display: inline-block;
    pointer-events: auto;

    @include box-shadow(0px 7px 24px -5px, #333);
    @include animation(0.20s);

    .row {
      padding-top: 30px; 
      padding-bottom: 30px; 
      h1 {
        color: $text-primary;
        font-size: 1.3em;
        font-weight: 400;
      }
      p {
        color: $text-primary;
        opacity: 0.8;
      }
    }
  }

  .hide {
    opacity: 0;
    pointer-events: none;
  }
  .cs-hide {
    top: 10%;
    opacity: 0;
    pointer-events: none;
  }
  // end .product -> Navigation 


  // start .product -> .intro
  .intro {
    padding-top: 200px;
    margin-bottom: 120px;

    h1 {
      color: $text-primary;
      font-size: 3.5rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      opacity: 0.8;
    }

    h4 {
      font-size: 2.5rem;
      color: $text-secondary;
    }

    @media screen and (max-width: $break-small) { 
      padding-top: 65px;
      h1 {
        font-size: 3rem;
      }
    }
  }
  // end .product -> .intro
  

  // start .product -> .projects
  .projects {

    .columns {
      margin-bottom: 4%;
    }

    a {
      text-decoration: none;
      color: $secondary;
    }

    .project {
      position: relative;
      background: white;
      min-height: 200px;
      border-radius: 3px;
      top: 0;
      @include box-shadow(0px 10px 54px -6px, #D7DCE3);
      @include animation(0.2s);

      &:hover {
        @include box-shadow(0px 10px 54px 20px, #D7DCE3);
        top: -3px;
      }

      img {
        width: 100%; 
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .info {
        min-height: 10px;
        padding: 20px 25px;
        
        h4 {
          font-family: CircularMedium;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.3rem;
          margin-bottom: 5px;
          text-decoration: none;
        }
      }
    }
  }
  // end .product -> .projects


  // start .product -> .footer
  .footer {
    margin-top: 50px; 
    padding-top: 50px;
    padding-bottom: 100px;
    border-top: 1px solid $text-secondary;

    ul {
      list-style: none;
      margin: 0 auto;
      width: 100%; 

      li {
        display: inline-block;
        margin-left: 4%;

        &:first-child {
          margin-left: 0; 
        }

        a {
          font-size: 2.5rem;
          color: $text-secondary;
          @include animation(.2s);

          &:hover {
            color: $primary;
          }
        }
      }

    }
  }
  // end .product -> .footer

} // end .product 
























