$break-small: 480px;

@mixin animation($time) {
  -webkit-transition: $time all cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: $time all cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: $time all cubic-bezier(0.75, 0.25, 0.25, 0.75); 
}

@mixin box-shadow($px, $color) {
  -webkit-box-shadow: $px $color;
  -moz-box-shadow: $px $color;
  box-shadow: $px $color;
}

h1, p {
  z-index: 999; 
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-family: "Maison", sans-serif;
}

#reshape_case {
  margin-top: 0px; 
}

.fade-this {
  -webkit-animation: fadeIn 1s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 1s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadeIn 1s ease-in-out; /* Internet Explorer */
         -o-animation: fadeIn 1s ease-in-out; /* Opera < 12.1 */
            animation: fadeIn 1s ease-in-out;
}

.reshape_index {
  margin-bottom: 150px;
  
  .project_video {
    iframe {
      width: 100% !important; 
      height: auto;
    }
  }

  .date {
    font-family: "LunchType", sans-serif;
    margin-bottom: 0px; 
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 75px;
  } 
  .project_title {
    font-family: "Maison", sans-serif;
    padding-top: 5px;
    letter-spacing: 1px;
    font-size: 35px;
  }

  .introImg {
    position: relative;
    transform: translateX(-50%);
    width: 70%; 
    left: 50%; 
  }

  .project_tile {
    padding-top: 55px;

    .dark {
      color: black; 
    }

    h2 {
      font-family: 'Maison', sans-serif;
      font-size: 2.5em;
      line-height: 1.3em; 
      color: black; 
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .project_body {
      text-rendering: geometricPrecision;
      font-family: 'Maison', sans-serif;
      font-size: 1.2em;
      line-height: 2em;
      letter-spacing: 0.5px;
      color: #5a5a5a;
      margin: 0 auto;
    }

    a {
      color: black;
    }


    img {
      width: 100%; 
      padding-top: 50px;
      text-align: center;
      margin: 0 auto;
      display: inherit;
    }
  }
}

.healthapps {
  width: 100%; 
  margin-top: 100px;
}

#bgvideo {
  margin-top: 100px;
  width: 100%;
}

#phonevideo {
  width: 30%;
  display: inline-block;
}













@keyframes fadeIn{
  0% {
    opacity:0;
    transform: translateY(10px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(10px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(10px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(10px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(10px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

































