<div class="container footer">
  <div class="row">

    <div class="twelve columns">
      <ul class="text-center">
        <li><a href="https://ca.linkedin.com/pub/daniel-park/79/8a9/315" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/itsdpark" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/itsdpark/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://github.com/dparkd" target="_blank"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>

  </div>
</div>