<div class="container nav">
  <div class="row">
    <div class="three columns">
      <h1>itsdpark</h1>
    </div>

    <div class="nine columns text-right">
      <button class="button-primary" id="shake">Don't Click</button>
    </div>
  </div>
</div>


<div class="layer hide"></div>
<div class="cs-modal cs-hide">
  <div class="container">
    <div class="row">
      <div class="twelve columns text-center" >
        <h1>You a rebel - #rebellyfe</h1>
        <p>However, I can't reward you this time you rebel. This feature is going to come out very very soon.</p>
        <button class="button-primary" id="shaker">Fine... Take me back</button>
      </div>
    </div>
  </div>
</div>