---
title: About Daniel Park 
---

<h1 class="nav"><a href="/">Back to Home</a></h1>

<div class="container fade-this" id="about_case">

  <div class="row">
    <div class="twelve project_tile">
      <p class="date">DANIEL PARK / PRODUCT DESIGNER </p>
      <!-- <h1 class="project_title">Hi, my name is Daniel</h1> <br> --> <br>
      <p class="project_body">
        Hey, I'm glad you made it to my personal website. <br><br>
        I'm primarily a <a href="https://medium.com/@ericeriksson/what-is-product-design-9709572cb3ff" target="_blank">product designer</a>, but I'm tryna be a T-shaped human, not a <a href="https://chiefexecutive.net/ideo-ceo-tim-brown-t-shaped-stars-the-backbone-of-ideoaes-collaborative-culture__trashed/" target="_blank">T-shaped</a> designer. <br><br>
        In 2018, I will be joining <a href="https://facebook.com" target="_blank">facebook</a> as a product designer on the Core App team.
        <br><br>
        On the side I like to make <a href="https://soundcloud.com/bibimbeats" target="_blank">beats</a>.
        <br><br>
        <a href="http://brutalistwebsites.com" target="_blank">This</a> type of design is what get's me excited.
        <br><br>
        I'm currently running this <a href="https://medium.com/time-dorks/my-year-with-a-distraction-free-iphone-and-how-to-start-your-own-experiment-6ff74a0e7a50" target="_blank">experiment</a> which is ironic because I'm working on the ads team for facebook. A company that dominates the <a href="https://en.wikipedia.org/wiki/Attention_economy" target="_blank">attention economy</a> space. I really hope <a href="https://www.geek.com/wp-content/uploads/2016/02/zuckerberg_VR_people.jpg" target="_blank">Mark</a> doesn't see this. ¯\_(ツ)_/¯
        <br><br>
        Here's the boring stuff: 
        <br>
        <p class="project_body">Blah, <a href="https://medium.com/@chopeh/the-state-of-design-ff5142fb806" target="_blank">blaaaaa</a> blah, blah, blah, blah, blah, <a href="../images/resume-dpark.pdf" target="_blank">resume</a>, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, <a href="https://ca.linkedin.com/pub/daniel-park/79/8a9/315" target="_blank">linkedin</a>, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, <a href="http://twitter.com/itsdpark" target="_blank">twitter</a>, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, <a href="https://github.com/dparkd/" target="_blank">github</a>, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, <a href="https://www.instagram.com/itsdpark/" target="_blank">instagram</a>
        </p>
      </p>
    </div>
  </div>


</div>