---
title: Daniel Park
---

<div class="container">

  <div class="row intro text-center">
    <h1>My name is Daniel Park - I play with products. </h1>
    <h4>Here are some products I've made</h4>
  </div>

  <div class="row projects text-center">

    <div class="six columns">
      <a href="http://floating-badlands-7742.herokuapp.com/" target="_blank"> 
        <div class="project">
          <%= image_tag "images/work/pictography.jpg" %>

          <div class="info text-left">
            <h4>Pictography <i class="fa fa-external-link float-right" aria-hidden="true"></i></h4>
          </div>
        </div>
      </a>
    </div>

    <div class="six columns">
      <a href="/ctree" target="_blank"> 
        <div class="project">
          <%= image_tag "images/work/ctree.jpg" %>

          <div class="info text-left">
            <h4>ctree <i class="fa fa-external-link float-right" aria-hidden="true"></i></h4>
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="row projects text-center">

    <div class="six columns">
      <a href="http://pixdraw.co" target="_blank"> 
        <div class="project">
          <%= image_tag "images/work/pixdraw.jpg" %>

          <div class="info text-left">
            <h4>Pixdraw <i class="fa fa-external-link float-right" aria-hidden="true"></i></h4>
          </div>
        </div>
      </a>
    </div>

    <div class="six columns">
      <a href="/posters" target="_blank"> 
        <div class="project">
          <%= image_tag "images/work/posters.jpg" %>

          <div class="info text-left">
            <h4>Posters <i class="fa fa-external-link float-right" aria-hidden="true"></i></h4>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>