---
title: Daniel Park - Designer
---


<h1 class="namee">
  Daniel Park
</h1>

<div class="test">
  
  <div class="row buttons">
    <a href="/reshape" id="front">Reshape</a>
    <a href="/peer" id="left">Peer</a>
    <a href="http://pixdraw.co" target="_blank" id="right">Pixdraw</a>
    <a href="http://nocounterplay.com" target="_blank" id="top">No counter play</a>
    <a href="http://wall-canvas.herokuapp.com/" target="_blank" id="bottom">VR Wall Paint</a>
    <a href="https://soundcloud.com/bibimbeats/tracks" target="_blank" id="back">lo-fi beats</a>
  </div>


<div class="space3d">
    <div class="_3dbox">
      <div class="_3dface _3dface--front"></div>
      <div class="_3dface _3dface--top"></div>
      <div class="_3dface _3dface--bottom"></div>
      <div class="_3dface _3dface--left"></div>
      <div class="_3dface _3dface--right"></div>
      <div class="_3dface _3dface--back"></div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  
  $('body').ready(function() {
    $('#front').hover(function() {
      $('.space3d ._3dbox').css({
        transform: 'rotateY(15deg)'
      });
    });

    $('#left').hover(function() {
      $('.space3d ._3dbox').css({
        transform: 'rotateY(70deg)'
      });
    });

    $('#right').hover(function() {
      $('.space3d ._3dbox').css({
        transform: 'rotateY(-75deg)'
      });
    });

    $('#top').hover(function() {
      $('.space3d ._3dbox').css({
        transform: 'rotateX(-75deg)'
      });
    });

    $('#bottom').hover(function() {
      $('.space3d ._3dbox').css({
        transform: 'rotateX(75deg)'
      });
    });

    $('#back').hover(function() {
      $('.space3d ._3dbox').css({
        transform: 'rotateY(175deg)'
      });
    });
  })
</script>


