---
title: Daniel Park - Designer
---

<div class="projects">
  <h1>
    Daniel Park is a designer.
  </h1> <br><br><br><br>


  <h1><a href="/reshape" class="project-name" data-img="reframe"><span class="number">01</span>Reshape - This Also</a></h1>

  <h1><a href="/peer" class="project-name" data-img="peer"><span class="number">02</span>Peer - Moment Design</a></h1>

  <h1><a href="http://nocounterplay.com" target="_blank" class="project-name" data-img="ncp"><span class="number">03</span>No Counter Play</a></h1>

  <h1><a href="http://wall-canvas.herokuapp.com/" target="_blank" class="project-name" data-img="vrwall"><span class="number">04</span>VR Canvas Wall</a></h1>

  <h1><a href="http://pixdraw.co" target="_blank" class="project-name" data-img="pixdraw"><span class="number">05</span>PixDraw</a></h1>

  <h1><a href="http://yashallo.com" target="_blank" class="project-name" data-img="yashallo"><span class="number">06</span>Yas Hallo</a></h1>

  <h1><a href="/images/resume-dpark.pdf" target="_blank" class="project-name"><span class="number">07</span>Resume</a></h1>

  <br>

  <!-- <a class="black-bg">I like black</a> -->

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  
  $('body').ready(function() {
    $('.black-bg').on('click', function() {
      $('body').addClass('darkness');
      $(this).removeClass('black-bg'); 
      $(this).addClass('blue-bg')
      $(this).remove();
    })
  })
</script>