---
title: Daniel Park
---

<div class="container">

  <div class="row intro text-left">
    <%= image_tag "images/face.png" %>
    <h1>My name is Daniel Park - I play with products.</h1>

    <p> <span>Experience:</span> Currently, I'm doing design consulting at <a href="http://momentdesign.com/" target="_blank">Moment Design</a>. I used to be a UI/UX designer at <a href="https://lemonstand.com/" target="_blank">LemonStand</a> and a product designer at <a href="http://www.eventmobi.com/" target="_blank">Eventmobi</a></p>

    <p> <span>Education:</span> I'm a rising junior at <a href="http://www.newschool.edu/parsons/" target="_blank">Parsons</a> The New School for Design.</p>

    <p><span>Work:</span> To learn code I build side projects like <a href="http://pixdraw.co/" target="_blank">PixDraw</a> and <a href="http://momentinterns.win/">Moment Interns Win</a>. To flex my creative muscles I design things like <a href="/ctree" target="_blank">Mobile Apps</a> and <a href="/posters" target="_blank">Posters</a></p>

    <p><span>Side Project:</span> To challenge myself I'm currently running <a href="http://yashallo.com/" target="_blank">yas hallo</a> - a collaborative clothing brand that donates all profits to missionaries</p>

    <p><span>Interests:</span> I am currently dipping my feet into interactive art. Be on the lookout for some VR/AR projects soon!</p>

    <p><span>Talk to me:</span> You can <a href="mailto:d.hanul.park@gmail.com">email</a> me, connect with me on <a href="https://ca.linkedin.com/pub/daniel-park/79/8a9/315" target="_blank">linkedin</a>, tweet me <a href="http://twitter.com/itsdpark" target="_blank">@itsdpark</a>, commit with me on <a href="https://github.com/dparkd/" target="_blank">github</a> or like my posts on <a href="https://www.instagram.com/itsdpark/" target="_blank">instagram</a></p>
  </div>

</div>