---
title: Plsdistract.me - Case Study
---

<h1 class="nav"><a href="/">Back to Projects</a></h1>

<div class="container fade-this" id="reshape_case">
  <div class="row">
    <div class="twelve project_tile">
      <p class="date">SPRING 2017 / PARSONS THESIS RESEARCH PROJECT </p>
      <h1 class="project_title">plsdistract.me</h1> <br>
      <p class="project_body">
        For my senior thesis I wanted to explore through research how people are using their phones and try to find answers to the question if people are distracted with their phones and why. One day I was waiting for my subway and noticed that 99% of people were on some sort of mobile device. This was extremely interesting to me because I started asking questions. <i>What are these people looking at? Why is it so easy to look at our phones? What prompts us to use our phones in time of waiting? Isn't there a better way to spend our time instead of looking at a phone endlessly?</i> Throught this research I aimed to discover and understand why it is so easy to use our phones and what we perceive as a waste of time in the modern context.
      </p>
    </div>
  </div>
</div>

<%= image_tag "images/plsdistractme/phoneguy.jpg", :class => "healthapps fade-this" %>

<div class="container fade-this" id="reshape_case">

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">Observing</h1> <br>
      <p class="project_body">
        The first step I took was to try and observe as much as I could to gather valuable insights as to why people are using their phones and when.
      </p>
    </div>

    <div class="image_full full-width-image">
      <video id="phonevideo" autoplay loop>
        <source src="../images/plsdistractme/3.mov">
      </video>

      <video id="phonevideo" autoplay loop>
        <source src="../images/plsdistractme/4.mov">
      </video>

      <video id="phonevideo" autoplay loop>
        <source src="../images/plsdistractme/5.mov">
      </video>
    </div>

    <div class="twelve project_tile" style="padding-top: 35px;">
      <p class="project_body">
        <u>Insight 1:</u> People are most likely to use their phone in times of idleness and waiting. Essentially, things like waiting in line or being still is a greater waste of time than being on the phone.
      </p><br>

      <p class="project_body">
        <u>Insight 2:</u> The phone is incredibly easy to use. Most of the functions on the mobile device can be used with one hand.
      </p><br>

      <p class="project_body">
        <u>Insight 3:</u> The phone instills a sense of security. In situations where people are uncomfortable (in the elevator with strangers), they would pull out their phones and look at them even if all they did was unlock the phone, swipe the home screen a couple times accomplishing nothing.
      </p><br>
    </div>

  </div>

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">The Idea</h1> <br>
      <p class="project_body">
        Reshape is a health app that generates dynamic "health shapes" by using the student's health for the day (distance, sleep, steps, etc.). With the shapes that are generated, the student can interact with their health through a drawing experience. In addition to the drawing experience, they can view the breakdown so that they can see exactly what aspect of their helth generated these "health shapes". <br><br>
        The hope with this project was to represent health in a different way so that college students can become more aware of their health. By adding the layer of interactivity, students can see directly how their health impacts their drawings. 
      </p>
    </div>
  </div>
</div>

<video id="bgvideo" autoplay loop poster="../images/reshape/frame.jpg">
  <source src="../images/reshape/bigvideo.webm" type="video/webm">
</video>

<div class="container" id="reshape_case">

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">Mobile Prototype</h1> <br>
      
      <div class="image_full full-width-image">
        <video id="phonevideo" autoplay loop poster="../images/reshape/frame.jpg">
          <source src="../images/reshape/draw.webm" type="video/webm">
        </video>

        <video id="phonevideo" autoplay loop poster="../images/reshape/frame.jpg">
          <source src="../images/reshape/breakdown.webm" type="video/webm">
        </video>

        <video id="phonevideo" autoplay loop poster="../images/reshape/frame.jpg">
          <source src="../images/reshape/history.webm" type="video/webm">
        </video>
      </div>

      <p class="project_body">Try it out yourself on your iPhone at: <a href="https://dparkd.github.io/health-app/" target="_blank">https://dparkd.github.io/health-app/</a>. For the best experience, save the app to your homescreen!</p>
    </div>
  </div>
</div>



<div class="container" id="reshape_case">
  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">What I learned: Brute force your designs</h1> <br>
      <p class="project_body">
        Diverging in your process is the best way to explore unique and exciting products. Below are some of the boring and standard products that I though of at first. Brian (one of the directors) told me to brute force my designs which is basically to design crazy ideas that are separate from eachother during the ideation phase. Through this method, I was able to discover unique interactions.
      </p>
      <%= image_tag "images/reshape/diverge.jpg"%>
    </div>
  </div>

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">What I learned: Don't ride the hype too soon</h1> <br>
      <p class="project_body">
        During the time of my internship, <a href="http://origami.design/" target="_blank">Origami</a> made it's big launch and I really wanted to use it for my prototype. I spent more than 2 weeks building half of my prototype before realizing that it's almost impossible to accomplish what my app was going to do in Origami (I was trying to generate hundreds of shapes dynamically). Instead, I decided to use vanilla HTML and JS to create my prototype. Here is the <a href="https://github.com/dparkd/health-app" target="_blank">code</a>. 
      </p>
      <%= image_tag "images/reshape/trendy.jpg"%>
    </div>
  </div>
</div>






























