---
title: Reframe - Case Study
---

<h1 class="nav"><a href="/">Back to Projects</a></h1>

<div class="reframe_background">
  <div class="layer"></div>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <h1>Peer</h1>
        <p>A Mixed Reality Education Experience</p>
      </div>
    </div>
  </div>
</div>