---
title: Reshape - Case Study
---

<h1 class="nav"><a href="/">Back to Projects</a></h1>

<div class="container fade-this" id="reshape_case">
  <div class="row">
    <div class="twelve project_tile">
      <p class="date">FALL 2016 / INTERN PROJECT </p>
      <h1 class="project_title">Reshape Mobile App</h1> <br>
      <p class="project_body">
        As an intern at <a href="http://thisalso.com" target="_blank">This Also</a>, I had the unique opportunity to work on a concept project with a prompt given to me by my mentors. The three words that were given to me were "health" and "data visualization". More specifically, they asked me to explore how college students are staying healthy today with technology.
      </p>
      <br>
      <p class="project_body">
        Through my research process I found that not only were college students generally unhealthy, but there are no good tools that solve this problem. One of the major problems with health apps today is that they all generally look the same and use the same concept when representing numbers. They all use the same boring charts and graphs.
      </p>
    </div>
  </div>
</div>

<%= image_tag "images/reshape/healthapps.jpg", :class => "healthapps fade-this" %>

<div class="container fade-this" id="reshape_case">

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">Approach</h1> <br>
      <p class="project_body">
        After discovering an area in which to design a solution for, I asked this question: <span class="dark">How do we make health data unique for each student so they become aware of their health?</span> By representing health data in a unique way, I believe that we are able to create an experience that might change the way students view their health and become more aware of it.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">The Idea</h1> <br>
      <p class="project_body">
        Reshape is a health app that generates dynamic "health shapes" by using the student's health for the day (distance, sleep, steps, etc.). With the shapes that are generated, the student can interact with their health through a drawing experience. In addition to the drawing experience, they can view the breakdown so that they can see exactly what aspect of their helth generated these "health shapes". <br><br>
        The hope with this project was to represent health in a different way so that college students can become more aware of their health. By adding the layer of interactivity, students can see directly how their health impacts their drawings. 
      </p>
    </div>
  </div>
</div>

<video id="bgvideo" autoplay loop poster="../images/reshape/frame.jpg">
  <source src="../images/reshape/bigvideo.webm" type="video/webm">
</video>

<div class="container" id="reshape_case">

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">Mobile Prototype</h1> <br>
      
      <div class="image_full full-width-image">
        <video id="phonevideo" autoplay loop poster="../images/reshape/frame.jpg">
          <source src="../images/reshape/draw.webm" type="video/webm">
        </video>

        <video id="phonevideo" autoplay loop poster="../images/reshape/frame.jpg">
          <source src="../images/reshape/breakdown.webm" type="video/webm">
        </video>

        <video id="phonevideo" autoplay loop poster="../images/reshape/frame.jpg">
          <source src="../images/reshape/history.webm" type="video/webm">
        </video>
      </div>

      <p class="project_body">Try it out yourself on your iPhone at: <a href="https://dparkd.github.io/health-app/" target="_blank">https://dparkd.github.io/health-app/</a>. For the best experience, save the app to your homescreen!</p>
    </div>
  </div>
</div>



<div class="container" id="reshape_case">
  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">What I learned: Brute force your designs</h1> <br>
      <p class="project_body">
        Diverging in your process is the best way to explore unique and exciting products. Below are some of the boring and standard products that I though of at first. Brian (one of the directors) told me to brute force my designs which is basically to design crazy ideas that are separate from eachother during the ideation phase. Through this method, I was able to discover unique interactions.
      </p>
      <%= image_tag "images/reshape/diverge.jpg"%>
    </div>
  </div>

  <div class="row">
    <div class="twelve project_tile">
      <h1 class="project_title">What I learned: Don't ride the hype too soon</h1> <br>
      <p class="project_body">
        During the time of my internship, <a href="http://origami.design/" target="_blank">Origami</a> made it's big launch and I really wanted to use it for my prototype. I spent more than 2 weeks building half of my prototype before realizing that it's almost impossible to accomplish what my app was going to do in Origami (I was trying to generate hundreds of shapes dynamically). Instead, I decided to use vanilla HTML and JS to create my prototype. Here is the <a href="https://github.com/dparkd/health-app" target="_blank">code</a>. 
      </p>
      <%= image_tag "images/reshape/trendy.jpg"%>
    </div>
  </div>
</div>






























