---
title: Daniel Park - Designer
---

<div class="projects">

  <h1 class="intro">1994</h1> 
  <p>Born in Edmonton, Alberta CANADA</p>
  <p>Cried uncontrollably...</p>

  <h1 class="intro">2007</h1> 
  <p>Started learning golf</p>
  <p>Quit piano</p>
  <p>Started going to an art academy</p>

  <h1 class="intro">2011</h1> 
  <p>Realized my dream of becoming an interior designer...</p>
  <p>My art teacher told me to pursue architecture instead.</p>

  <h1 class="intro">2012</h1> 
  <p>Applied to 5 architecture schools...</p>
  <p>Only got accepted to University of Toronto.</p>
  <p>Moved to Toronto</p>

  <h1 class="intro">2013</h1> 
  <p>Dropped out of architecture school</p>
  <p>Moved to Vancouver</p>

  <h1 class="intro">2014</h1> 
  <p>Started a graphic design diploma in Vancouver</p>
  <p>Transferred and finished a diploma in web design at Art Institutes of Vancouver</p>
  <p>Started working at LemonStand as a UI intern</p>

  <h1 class="intro">2015</h1>
  <p>Moved back to Toronto</p>
  <p>Started working at EventMobi as a Product Design intern</p>

  <h1 class="intro">2016</h1>
  <p>Got accepted into Parsons</p>
  <p>Worked at Moment Design as a Product Design Intern</p>
  <p>My summer project at Moment won an IxDA award</p>
  <p>Worked at This Also as a Product Design Intern</p>

  <h1 class="intro">2017</h1>
  <p>Worked at Potion Design as a Product Design Intern</p>
  <p>Working currently at Facebook as a Product Design Intern</p>




</div>